{% if grav.twig.enable_comments_plugin %}
    {% set scope = scope ?: 'data.' %}
    <section id="comments-section">
        <h2>{{'PLUGIN_COMMENTS.COMMENTS'|t}}</h3>
		<a class="comment-add-new" href="#"><i class="fa fa-plus" title="{{'PLUGIN_COMMENTS.ADD_NEW'|t}}"></i> {{'PLUGIN_COMMENTS.ADD_NEW'|t}}</a>

    	{% include 'partials/comments.form.html.twig' %}

        <div id="comments" class="row comments">
    	{% if grav.twig.comments|length %}
            {% for comment in grav.twig.comments %}
				<div class="comment comment-level-{{comment.level|e}}" data-level="{{comment.level}}" data-id="{{comment.id}}" >
				  <div class="comment-left">
					  <img class="comment-object" src="https://www.gravatar.com/avatar/{{comment.email|trim|lower|md5}}?d=identicon" alt="user icon">
				  </div>
				  <div class="comment-body">
					<div class="comment-heading">
						<div class="comment-title"><h4>{{comment.title}}</h4></div>
						<div class="comment-reply">
							<a class="comment-add-reply" href="#"><i class="fa fa-reply" title="{{'PLUGIN_COMMENTS.ADD_REPLY'|t}}"></i> {{'PLUGIN_COMMENTS.REPLY'|t}}</a>
							{% if grav.user.access.admin.super %}
							<a class="comment-delete" href="#"><i class="fa fa-trash" title="{{'PLUGIN_COMMENTS.DELETE_COMMENT'|t}}"></i> {{'PLUGIN_COMMENTS.DELETE'|t}}</a>
							{% endif %}
						</div>
						<div class="comment-meta">{{'PLUGIN_COMMENTS.WRITTEN_ON'|t}} {{comment.date|e}} {{'PLUGIN_COMMENTS.BY'|t}} {{comment.author}}</div>
					</div>
					<div class="comment-text" >
						{{comment.text}}
					</div>
					{{nested}}
				  </div>
				</div>
            {% endfor %}
    	{% endif %}
        </div>
    </section>
{% endif %}
