{% if grav.twig.enable_comments_plugin %}
    {% set scope = scope ?: 'data.' %}

    {% include 'partials/comments.form.html.twig' %}

    {% if grav.twig.comments|length %}

        <h3>{{'PLUGIN_COMMENTS.COMMENTS'|t}}</h3>
		<a class="comment-add-new" href="#">{{'PLUGIN_COMMENTS.ADD_NEW'|t}}</a>
            <div class="row comments">
            {% for comment in grav.twig.comments %}
				<div class="comment comment-level-{{comment.level|e}}" data-Id="{{comment.id}}" >
				  <div class="comment-left">
					<a href="#">
					  <img class="comment-object" src="https://www.gravatar.com/avatar/{{comment.email|trim|lower|md5}}?d=identicon" alt="user icon">
					</a>
				  </div>
				  <div class="comment-body">
					<div class="comment-heading">
						<div class="comment-title"><h4>{{comment.title}}</h4></div>
						<div class="comment-reply"><a class="comment-add-reply" href="#">{{'PLUGIN_COMMENTS.ADD_REPLY'|t}}</a></div>
						<div class="comment-meta">{{'PLUGIN_COMMENTS.WRITTEN_ON'|t}} {{comment.date|e}} {{'PLUGIN_COMMENTS.BY'|t}} {{comment.author}}</div>
					</div>
					<div class="comment-text" >
						{{comment.text}}
					</div>
					{{nested}}
				  </div>
				</div>
            {% endfor %}
            </div>

    {% endif %}
{% endif %}


