{% extends 'partials/base.html.twig' %}

{% if admin.route %}
    {% set context = admin.page(true) %}
{% endif %}

{% block titlebar %}
    <h1><i class="fa fa-fw fa-file-text-o"></i> {{ "PLUGIN_COMMENTS.COMMENTS"|tu }}</h1>
{% endblock %}

{% block content %}
    <div class="page-data">
        <div class="gpm gpm-themes">
            <h1>
                {{"PLUGIN_COMMENTS.COMMENTS"|e|tu}}
            </h1>

            <table>
                {% for file in grav.twig.files %}
                    <tr data-gpm-plugin="#">
                        <td class="gpm-name">
                            <!-- <i class="fa fa-fw fa-{{ plugin.icon }}"></i> -->
                            {{ file.fileName }}
                            {% if file.data.hasUnread %}<span class="gpm-version">Has {{file.data.unreadCount}} unread comments</span>{% endif %}
                        </td>
                        <td class="gpm-actions">
                            <span class="gpm-details-expand"><i class="fa fa-chevron-down"></i></span>
                        </td>
                        <td class="gpm-details">
                            <div class="table-wrapper">
                                {% include 'partials/comments-list.html.twig' with { file: file } %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}


